// text and background
light-color = #eff4f6
medium-color = #797979
hover-color = #12505f

// button effect
color--delta = rgb(16, 16, 16, 1)

// primary colors
main-color = #249fa4
featured-color = #001F3F
warning-color = #ee4221