<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='/css/style.css' rel='stylesheet' type='text/css'>
        <title>Signup - Timecraft</title>
    </head>
    <body>
  <div class="container">
    <div id="login">

      <div id="form">
        <form action="">
          <div class="form-control">
            <label for="email" class="form-label">Email</label><br/>
            <input class="input-text" type="email" id="email" name="email" autofocus>
          </div>
          <div class="form-control">
          <p>
            <label for="password" class="form-label">Password</label><br/>
            <input class="input-text" type="password" id="pwd" name="pwd">
            <span>Minimum password length is 8 characters</span>
          </p>
          <p>
            <label for="password" class="form-label">Confirm Password</label><br/>
            <input class="input-text" type="password" id="confirm-pwd" name="confirm-pwd">
            <span>Please confirm passwords</span>
          </p>
          </div>
          <div class="form-control">
            <button class="btn" id="register">Register Me</button>
          </div>
        </form>
      </div>
    </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"</script>
  </body>
</html>